<form class="form-container" [formGroup]="profileForm" (ngSubmit)="handleSubmit()">
    <mat-card class="container-card">
      <mat-card-header>
        <mat-card-title>Inscription</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <div class="container-card-input">
        <mat-form-field class="example-full-width" appearance="legacy">
            <mat-label>Nom</mat-label>
            <input type="text" matInput formControlName="nom"
                   placeholder="Ex. Jean">
            <mat-hint>Ex. Jean</mat-hint>
            <mat-error *ngIf="this.nom?.errors?.required">
              Le  champ nom est <strong>requis</strong>
            </mat-error>
   
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="legacy">
            <mat-label>Prénom</mat-label>
            <input type="text" matInput formControlName="prenom"
                   placeholder="Ex. Dujardin">
            <mat-hint>Ex. Dujardin</mat-hint>
            <mat-error *ngIf="this.prenom?.errors?.required">
              Le champ prénom est <strong>requis</strong>
            </mat-error>
       
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="legacy">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email"
                   placeholder="Ex. pat@example.com">
            <mat-hint>Ex. pat@example.com</mat-hint>

            <mat-error *ngIf="this.email?.errors?.required; else emptyEmail">
              Le champ email est  <strong>requis</strong>
            </mat-error>
            <ng-template #emptyEmail>
              <mat-error >
                Veuillez entrer une adresse email <strong>valide</strong> ! 
              </mat-error>
            </ng-template>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="legacy">
            <mat-label>Mot de passe</mat-label>
            <input type="password" matInput formControlName="password"
                   placeholder="Ex. 12345678">
            <mat-hint>Ex. 12345678</mat-hint>
            <mat-error *ngIf="this.password?.errors?.required; else lengthPassword">
              Le champ mot de passe est  <strong>requis</strong>
            </mat-error>

            <ng-template #lengthPassword>
              <mat-error >
                Votre mot de passe azoit faire au minimum <strong>8 caractéres</strong>
              </mat-error>
            </ng-template>
      
          </mat-form-field>


          <mat-form-field appearance="legacy">
            <mat-label>Choisir ton sexe</mat-label>
            <mat-select formControlName="sexe">
              <mat-option *ngFor="let item of sexe" [value]="item.value">
                {{item.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="this.getSexe?.errors?.required">
              Le champ sexe est <strong>requis</strong>
            </mat-error>
          </mat-form-field>


          
          <mat-form-field class="example-full-width" appearance="legacy">
            <mat-label>Poids</mat-label>
            <input type="number" matInput  min="0" formControlName="poids"
                   placeholder="Ex. 75">
            <mat-hint>Ex. 75 kg</mat-hint>

            <mat-error *ngIf="this.poids?.errors?.required">
              Il y a une erreur dans le champ poids 
            </mat-error>

            
          </mat-form-field>


        </div>
      </mat-card-content>
      <mat-card-actions class="container-btn">
        <button mat-raised-button color="primary" class="button">Inscription</button>
        <mat-hint class="already-compte"><a [routerLink]="['']" >Déjà un compte?</a></mat-hint>
      </mat-card-actions>
    </mat-card>
  </form>