.containerCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 20%;
  height: 300px;
}

.title {
  font-size: 2.5 rem;
  padding-bottom: 10%;
}
.content {
  font-size: 1.5rem;
}
.container_table {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  margin-bottom: 10%;
}
table {
  width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

// y
