/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~ngx-bar-rating/themes/br-stars-theme";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
p,
h1 {
  margin: 0;
  padding: 0;
}
.mat-simple-snackbar {
  justify-content: center !important;
}

.gray-dark {
  background-color: #363740;
}

.gray-light {
  opacity: 70% !important;
  color: white !important;
}

.gray-simple {
  color: #9fa2b4 !important;
}

.error-snackbar {
  background-color: rgb(185, 46, 46);
  color: white;
  font-weight: bold;
}

.success-snackbar {
  background-color: rgb(52, 160, 52);
  color: white;
  font-weight: bold;
}
